.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.icono {
  color: white;
  font-size: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.item-card {
  width: 230px;
  height: auto;
  margin: 10px;
  padding: 0;
  border: 1px solid #444;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.item-header {
  background-color: #ddd;
  font-size: 1.2rem;
  padding: 5px;
}
Button {
  margin-top: auto;
  margin-left: 4px;
  margin-right: 4px;
}
.item-price {
  text-align: center;
  margin-left: 5px;
}