@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
h3,h2, p, span {
  font-family: "Chewy", cursive;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f9fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
} 
.logo {
  width: 5vw;
  height: 10vh;
}

.link-menu {
  color: white;
  text-decoration: none;
  margin: 5px;
  font-size: 1.3em;
  font-family: "Chewy", cursive;
}
.link-menu:hover{
  color: #f9bebe;
}
.icono {
  color: white;
  font-size: 30px;
}


.titulo-h1{
  color: #f9bebe;
  font-family: "Chewy", cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  word-spacing: 20px;
}

.container {
  width: 100%;
  margin: auto;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column {
  width: 100%;
}

.item-carrito{
  text-align: center;
  margin-bottom: 20px;
}

.item-carrito .container--flex {
  align-items: flex-start;
}
.item-carrito__titulo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}

.item-carrito__img {
  object-fit: contain;
  height: 400px;
  width: 400px;
}

.item-carrito__txt {
  text-align: center;
  font-size: 1.3em;
  color: black;
  font-weight: bold;
}

.itemDetail-titulo {
  text-align: center;
  font-family: "Chewy", cursive;
  font-weight: bold;
  font-size: 2em;
  color: #b4d3de;
  margin: 5px;
}
.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
  background-color: #b4d3de;
  padding: 1rem 0;
}
.productList {
  padding-inline-start: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;

}
.itemDetail {
  display: flex;
  flex-flow: row nowrap;
  margin: 2rem;
}

.itemDetail > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 2rem;
}
.itemDetail > div > img {
  object-fit: contain;
  max-height: 500px;
}
.badge {
  font-family: "Chewy", cursive;
  background-color: #f9bebe;
  margin: 0px 0.25rem;
  padding: 0.25rem;
  border-radius: 50% !important;
  color: white;
  font-weight: bold;
}

.image-carrito{
  width: 100px !important;
  height: 100px !important;
  display: block;
}

.btn-tienda {
  font-family: "Chewy", cursive;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 150px;
  background: #f9bebe;
  color: white;
  padding: 10px;
  margin: 10px auto;
  border-radius: 30px;
}
.btn-tienda:hover {
  color: #b4d3de;
}

.btn-agregar {
  font-family: "Chewy", cursive;
  font-size: 17px;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 150px;
  background: #f9bebe;
  color: white;
  padding: 10px;
  margin: 10px auto;
  border-radius: 30px;
}
.btn-agregar:hover{
  color: #b4d3de;
}
.btn-cart {
  font-family: "Chewy", cursive;
  font-size: 18px;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 150px;
  background: #b4d3de;
  color: white;
  padding: 10px;
  margin: 10px auto;
  border-radius: 30px;
}
.btn-cart:hover{
  color: #f9bebe;
}
.btn-count {
  font-family: "Chewy", cursive;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 40px;
  background: #b4d3de;
  color: white;
  padding: 1px;
  margin: 10px auto;
  border-radius: 50%;
}
.btn-count:hover{
  color: #f9bebe;
}
.span-count{
  margin: 5px;
}

.main-footer {
  background: #f9bebe;
  text-align: left;
  font-weight: 100;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(#f9bebe, #b4d3de);
}

.copy {
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.main-footer [class*=icon-] {
  color: white;
  text-decoration: none;
}

.main-footer [class*=icon-]:before {
  position: relative;
  top: 5px;
  right: 0.5px;
}
.icon-facebook {
  background-color: #0017FF;
  padding: 4px;
  margin: 3px;
  border-radius: 50%;
}

.icon-instagram {
  background-color: #FF5500;
  padding: 4px;
  margin: 3px;
  border-radius: 50%;
}
.column__txt {
  margin: 10px;
}
.tr {
  font-family: "Chewy", cursive;
}
.totalPrecio {
  font-family: "Chewy", cursive;
  text-align: right;
}

legend {
  font-size: 1.5em;
  color: #b4d3de;
}
input {
  margin-left: 0.5em;
  padding: 0.3em;
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 1em;
  border: none;
  border-radius: 1em;
  box-sizing: border-box;
}
label {
  font-weight: 700;
  color: #f9bebe;
  text-transform: uppercase;
  display: block;
}
.form-centrado{
  max-width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.form-seccion{
  margin-top: 2em;
  margin-bottom: 2em;
}
form {
  font-family: "Chewy", cursive;
  border-radius: 7px;
  box-sizing: border-box;
  margin: auto;
  padding: 10px 20px;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

input:invalid ~ .check-ok {
  display: none;
}

input:valid ~ .check-ok {
  display: inline;
}

.cartelFinal{
  text-align: center;
  color: red;
  border: 2px dashed red;
  padding: 5px;
}


@media screen and (min-width: 296px){
  .logo{
    width: 80%;
  }

  .main-footer .container--flex {
    align-items: flex-start;
  }

  .column--50 {
    width: 49%;
  }

  .column--33 {
    width: 32%;
  }
  
}

@media screen and (min-width:480px) {
  .logo {
    width: 90%;
  }
  .item {
    align-items: center;
  }
  .main-footer .container--flex {
    align-items: flex-start;
  }
  .column--50 {
    width: 49%;
  }
  .column--33 {
    width: 32%;
  }
  .itemDetail img {
    object-fit: contain;
    width: 500px ;
  }

}
@media screen and (min-width:768px) {
  .logo {
    width: 80px;
  }
}
@media screen and (min-width:1024px) {
  .container {
    width: 1000px;
  }
  .item-carrito__titulo{
      font-size: 2.1em;
  }
}
@media screen and (min-width:1600px) {

}